#div1{
background-color: #71a215;
padding: 10px;
}
#span1{
    margin-left: 700px;
    color: white;
}
#span1:hover{
    color: greenyellow
}
#image1{
    margin-left: 120px;

} 
    
#image1:hover{
    content: url('images/donnate.jpg');
}

   



*{
    margin: 0px;
    padding: 0px;
}


#div2 {
    margin-left: 200px;
}
#div2 ul{
    list-style: none;
    font-weight: bold;
}
#div2 ul li{
    background-color: #316dc3;

    
    width: 150px;
    text-align: center;
    
    float: left;
    line-height: 50px;
    color: white;
    font-size: 12px;
    position: relative;

}
#div2 ul li:hover{
    background-color: #71a215;

}
#div2 ul ul{
    display: none;
    position:absolute;
    z-index: 10;
    
}
#div2 ul li:hover > ul{
    display: block;

}
#div2 ul ul ul{
    margin-left: 200px;
    top: 0px;
    position:absolute;
}
#div2 ul li a{
    text-decoration: none;
    color: white;
    display: block;
}
#div2 ul li ul li{
    width: 200px;
    height: 40px;
    text-align: left;
    border-top: 1px solid white;
}
#div2 ul li ul a:hover{
    background-color: #00a5a8;
}

#div2 ul li ul a{
    padding-left: 15px;
}
#div3{
    height: 53px;
    background-color: #316dc3;
}
.link1{
    text-decoration: none;
    background-color: #71a215;
    padding: 5px;
    color: white;

}
.link2{
    text-decoration: none;
    color: black;
}
marquee{
    width: 1100px;
    margin-top: 0px;
    position: relative;
}


#div4{
    color: red;
    font-size: 15px;
    letter-spacing: -1px;
    background-color: rgb(240, 240, 240);
    padding: 5px;
}
#div5{
    width: 1000px;
    margin-left: 200px;
    box-shadow: -1px 8px 8px 5px black;
    margin-top: 40px;
}
#div6{
    float: left;
    margin-top: 40px;
    margin-left: 70px;
}
.p1{
    font-size: 20px;
    color: #71a215;
    border-bottom: 3px solid gray;
    border-top: 3px solid gray;
    width: 200px;
    padding-top: 5px;
    font-weight: bold;
}
#input1{
    
    border: 2px solid gray;
    border-radius: 5px;
    width: 200px;
    height: 40px;;
    background-color: #d3d3d3
}
#p2{
    font-size: 20px;
    width: 520px;
    border-bottom: 4px solid #316dc3;
color: #71a215;
    font-weight: bold;
}
#div7{
    float: left;
    margin-left: 70px;
    margin-top: 40PX;
}
.link3{
    color: white;
   
    background-color: #71a215;
    
}

#div8{
    float: left;
    margin-left: 5px;
}
.box{
    background-color: #316dc3;
    color: white;
    padding: 2px;
    font-size: 12px;
}
.image9:hover{
    transform: scale(1.1);
}

.link4{
    color: black;
   
    font-size: 12px;
}
.link5{
    color: black;
   margin-bottom: 10px;
    font-size: 10px;
}
#div12{
    float: left;
    margin-left: 60px;
}

#input2{
    
    border: 2px solid gray;
    border-radius: 5px;
    width: 200px;
    height: 40px;;
    background-color: #d3d3d3
}
#but1{
    background-color: #71a215;
    color: white;
    border-bottom: 3px solid gray;
    border-right: 3px solid gray;
    border-left: 3px solid #d3d3d3;
    border-top: 3px solid #d3d3d3;
    width: 150px;
    border-radius: 20px;
    height: 40px;
    margin-left: 50px;

}
.span1{
color: #71a215;
font-weight: bold;
}
.span2{
    color: #316dc3;
    font-weight: bold;
}
.span3{
    font-size: 20px;
    color: #71a215;
}
.span4{
    font-size: 20px;
    color: #316dc3;
    margin-left: 0px;
}
#span5{
    background-color: rgb(80, 73, 73);
    border-bottom: 4px solid #71a215;
    color: white;
}
#div13{
    margin-top: 1200px;
    border: 1px solid black;
    background-color: #0264a3
}
td{
    width: 350px;
    color: white;
    height: 50px;
}
table{
    height: 50px;
    margin-left: 150px;
}
.td2{
    color: #71a215;
    font-weight: bold;
}
.span6{
color: white;
}
#div14{
    background-color: #71a215;
    height: 60px;
    color: white;
}
#sapn7{
text-align: center;
}